@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 160%;
}

.head {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 254px;
  margin-right: 253px;
  text-align: center;
  align-items: center;
  color: #fff;
}

.btn {
  font-size: 14px;
  width: 29px;
  height: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: none;
  outline: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.nav {
  margin: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 66px;
  padding: 0 0 24px 0;
}

.movie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie video {
  /* height: 100vh; */
  width: 100vw;
}

.btn {
  font-size: 16px;
  width: 145px;
  height: 50px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  background-color: #fff;
  color: #111;
}
